<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SF Food Trucks</title>
    <meta name="description" content="">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    {% assets "css_all" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css" />
    {% endassets %}
  </head>
  <body>
  	<nav class="navbar navbar-default searchbar" role="navigation">
      <a class="navbar-brand" href="#">SF Food Trucks</a>
  	  <div class="navbar-form searchbar" role="search">
        <input id="search" type="text" class="form-control" placeholder="Enter Location">
     </div>
  	</nav>
    <div id="map-canvas"></div>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
    {% assets "js_libs" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% assets "js_app" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>