<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SF Food Trucks</title>
  <meta name="description" content="">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
  <div class="row-fluid">
    <div class="col-md-4">
      <form class="navbar-search">
			  <input type="text" class="search-query" placeholder="Enter Address">
			</form>
    </div>
    <div class="col-md-8">
    </div>
	</div>

  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="../static/js/underscore.js"></script>
  <script src="../static/js/backbone.js"></script>
	<script src="../static/js/main.js"></script>
	<script src="../static/js/main.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>